div.main-body{
  display: grid;
  grid-template-columns: minmax(300px, auto) 1fr;
  grid-template-areas: "navbar mainContent";
  grid-gap: 70px;
  
}
nav#navbar{
  grid-area: navbar;
  position: fixed;
}
nav#navbar a{
  display: block;
  border: 1px solid black;
  padding: 8px;
  margin: 12px 0;
  text-decoration: none;
  color: black;
  
}
main#main-doc{
  grid-area: mainContent;
}
header{
  font-size: 1.8em;
  font-weight: bold;
  
}
code{
  background-color: #ccc;
  display: block;
  padding: 20px;
}